<div class="flex-row d-flex justify-content-center mt-3">
	<div class="col-md-8">
		<%= form_for @post do |f| %>

		<% if @post.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@post.errors.count, "error") %> stopped this post from saving</h2>
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label :title %>
	       <%= f.text_field :title, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :content %>
	<%= f.text_area :content, class: 'form-control' %>
		</div>
	
	

	<%= f.submit "Create Post", class: 'btn btn-primary' %>
<% end %>
	</div>
	
</div>


